/* Dark mode */
.todo-container.dark {
  background: rgba(0, 0, 0, 0.85);
  color: white;
}

.todo-container.dark .todo-text {
  color: white;
}

/* Button style */
button {
  padding: 8px 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  background-color: #444;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #222;
}
